# Importar modulos habituales

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

%config IPCompleter.greedy = True

# Análisis preliminar de los datos
## Primer vistazo a los datos "listings"

### Datos base

In [3]:
listings = pd.read_csv('./Data/listings.csv')
listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.457240,-3.676880,Private room,60,1,80,2019-05-14,1.21,2,180,4,NaN
1,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.403810,-3.741300,Private room,31,4,33,2018-05-29,0.39,2,364,0,NaN
2,23001,Apartmento Arganzuela- Madrid Rio,82175,Jesus,Arganzuela,Legazpi,40.388400,-3.695110,Entire home/apt,50,15,0,NaN,NaN,5,222,0,NaN
3,24805,Gran Via Studio Madrid,346366726,A,Centro,Universidad,40.421830,-3.705290,Entire home/apt,92,5,12,2020-03-01,0.51,1,115,2,NaN
4,26825,Single Room whith private Bathroom,114340,Agustina,Arganzuela,Legazpi,40.389750,-3.690180,Private room,26,2,149,2018-05-15,1.65,1,349,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18904,52182264,Enormous Private Room in 12-Bedroom Unit - los...,378060726,Svetlana,Centro,Justicia,40.424384,-3.691216,Private room,29,1,0,NaN,NaN,87,358,0,NaN
18905,52182273,Stunning Private Room in 11-Bedroom Unit - los...,378060726,Svetlana,Centro,Justicia,40.424447,-3.691309,Private room,29,1,0,NaN,NaN,87,358,0,NaN
18906,52182303,Classic Private Room in 7-Bedroom Unit - los 3...,378060726,Svetlana,Centro,Justicia,40.424989,-3.691783,Private room,29,1,0,NaN,NaN,87,358,0,NaN
18907,52182321,Elegant Private Room in 12-Bedroom Unit - los ...,378060726,Svetlana,Salamanca,Recoletos,40.424352,-3.690211,Private room,29,1,0,NaN,NaN,87,358,0,NaN
18908,52182334,Fashioned Private Room in 12-Bedroom Unit - lo...,378060726,Svetlana,Centro,Justicia,40.425670,-3.691727,Private room,33,1,0,NaN,NaN,87,358,0,NaN

In [4]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,60,1,80,2019-05-14,1.21,2,180,4,NaN
1,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.74130,Private room,31,4,33,2018-05-29,0.39,2,364,0,NaN
2,23001,Apartmento Arganzuela- Madrid Rio,82175,Jesus,Arganzuela,Legazpi,40.38840,-3.69511,Entire home/apt,50,15,0,NaN,NaN,5,222,0,NaN
3,24805,Gran Via Studio Madrid,346366726,A,Centro,Universidad,40.42183,-3.70529,Entire home/apt,92,5,12,2020-03-01,0.51,1,115,2,NaN
4,26825,Single Room whith private Bathroom,114340,Agustina,Arganzuela,Legazpi,40.38975,-3.69018,Private room,26,2,149,2018-05-15,1.65,1,349,0,NaN

In [5]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18909 entries, 0 to 18908
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              18909 non-null  int64
 1   name                            18906 non-null  object
 2   host_id                         18909 non-null  int64
 3   host_name                       18883 non-null  object
 4   neighbourhood_group             18909 non-null  object
 5   neighbourhood                   18909 non-null  object
 6   latitude                        18909 non-null  float64
 7   longitude                       18909 non-null  float64
 8   room_type                       18909 non-null  object
 9   price                           18909 non-null  int64
 10  minimum_nights                  18909 non-null  int64
 11  number_of_reviews               18909 non-null  int64
 12  last_review                     13877 non-null  object
 13  reviews_per_month               13877 non-null  float64
 14  calculated_host_listings_count  18909 non-null  int64
 15  availability_365                18909 non-null  int64
 16  number_of_reviews_ltm           18909 non-null  int64
 17  license                         2828 non-null   object
dtypes: float64(3), int64(8), object(7)
memory usage: 2.6+ MB

#### Insights
**variable "license" tiene 2822/18909 valores válidos -> posiblemente no lo usemos**

### Datos extendidos

In [7]:
listings_detailed = pd.read_csv('./Data/listings.csv.gz')
listings_detailed

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20210910193531,2021-09-11,"Rooftop terrace room , ensuite bathroom",Excellent connection with the AIRPORT and EXHI...,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,https://www.airbnb.com/users/show/13660,...,4.89,4.77,4.85,NaN,f,2,0,2,0,1.21
1,21853,https://www.airbnb.com/rooms/21853,20210910193531,2021-09-11,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,https://www.airbnb.com/users/show/83531,...,4.82,4.21,4.67,NaN,f,2,0,2,0,0.39
2,23001,https://www.airbnb.com/rooms/23001,20210910193531,2021-09-11,Apartmento Arganzuela- Madrid Rio,"Apartamento de tres dormitorios dobles, gran s...","Barrio Arganzuela, junto a Madrid Rio, zonas c...",https://a0.muscache.com/pictures/58e6a770-509c...,82175,https://www.airbnb.com/users/show/82175,...,NaN,NaN,NaN,NaN,f,5,4,1,0,NaN
3,24805,https://www.airbnb.com/rooms/24805,20210910193531,2021-09-11,Gran Via Studio Madrid,"Studio located 50 meters from Gran Via, next t...","The area is next to the Gran Via, so people li...",https://a0.muscache.com/pictures/miso/Hosting-...,346366726,https://www.airbnb.com/users/show/346366726,...,5.00,5.00,4.83,NaN,f,1,1,0,0,0.51
4,26825,https://www.airbnb.com/rooms/26825,20210910193531,2021-09-11,Single Room whith private Bathroom,Nice and cozy roon for one person with a priva...,"Es un barrio muy tranquilo, en una zona de Mad...",https://a0.muscache.com/pictures/149358/218d5b...,114340,https://www.airbnb.com/users/show/114340,...,4.71,4.70,4.72,NaN,f,1,0,1,0,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18904,52182264,https://www.airbnb.com/rooms/52182264,20210910193531,2021-09-11,Enormous Private Room in 12-Bedroom Unit - los...,ROOM - 8 sqm. • 1st Floor <br /> <br />cozy ro...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,378060726,https://www.airbnb.com/users/show/378060726,...,NaN,NaN,NaN,NaN,f,87,0,87,0,NaN
18905,52182273,https://www.airbnb.com/rooms/52182273,20210910193531,2021-09-11,Stunning Private Room in 11-Bedroom Unit - los...,ROOM - 10 sqm. • 4th Floor <br /> <br />cozy r...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,378060726,https://www.airbnb.com/users/show/378060726,...,NaN,NaN,NaN,NaN,f,87,0,87,0,NaN
18906,52182303,https://www.airbnb.com/rooms/52182303,20210910193531,2021-09-11,Classic Private Room in 7-Bedroom Unit - los 3...,ROOM <br /> <br />cozy room in madrid centro i...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,378060726,https://www.airbnb.com/users/show/378060726,...,NaN,NaN,NaN,NaN,f,87,0,87,0,NaN
18907,52182321,https://www.airbnb.com/rooms/52182321,20210910193531,2021-09-11,Elegant Private Room in 12-Bedroom Unit - los ...,ROOM -9 sqm. • 1st Floor <br /> <br />cozy roo...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,378060726,https://www.airbnb.com/users/show/378060726,...,NaN,NaN,NaN,NaN,f,87,0,87,0,NaN
18908,52182334,https://www.airbnb.com/rooms/52182334,20210910193531,2021-09-11,Fashioned Private Room in 12-Bedroom Unit - lo...,ROOM - 10 sqm. • 1st Floor <br /> <br />cozy r...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,378060726,https://www.airbnb.com/users/show/378060726,...,NaN,NaN,NaN,NaN,f,87,0,87,0,NaN

In [8]:
listings_detailed.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20210910193531,2021-09-11,"Rooftop terrace room , ensuite bathroom",Excellent connection with the AIRPORT and EXHI...,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,https://www.airbnb.com/users/show/13660,...,4.89,4.77,4.85,NaN,f,2,0,2,0,1.21
1,21853,https://www.airbnb.com/rooms/21853,20210910193531,2021-09-11,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,https://www.airbnb.com/users/show/83531,...,4.82,4.21,4.67,NaN,f,2,0,2,0,0.39
2,23001,https://www.airbnb.com/rooms/23001,20210910193531,2021-09-11,Apartmento Arganzuela- Madrid Rio,"Apartamento de tres dormitorios dobles, gran s...","Barrio Arganzuela, junto a Madrid Rio, zonas c...",https://a0.muscache.com/pictures/58e6a770-509c...,82175,https://www.airbnb.com/users/show/82175,...,NaN,NaN,NaN,NaN,f,5,4,1,0,NaN
3,24805,https://www.airbnb.com/rooms/24805,20210910193531,2021-09-11,Gran Via Studio Madrid,"Studio located 50 meters from Gran Via, next t...","The area is next to the Gran Via, so people li...",https://a0.muscache.com/pictures/miso/Hosting-...,346366726,https://www.airbnb.com/users/show/346366726,...,5.00,5.00,4.83,NaN,f,1,1,0,0,0.51
4,26825,https://www.airbnb.com/rooms/26825,20210910193531,2021-09-11,Single Room whith private Bathroom,Nice and cozy roon for one person with a priva...,"Es un barrio muy tranquilo, en una zona de Mad...",https://a0.muscache.com/pictures/149358/218d5b...,114340,https://www.airbnb.com/users/show/114340,...,4.71,4.70,4.72,NaN,f,1,0,1,0,1.65

In [9]:
listings_detailed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18909 entries, 0 to 18908
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            18909 non-null  int64
 1   listing_url                                   18909 non-null  object
 2   scrape_id                                     18909 non-null  int64
 3   last_scraped                                  18909 non-null  object
 4   name                                          18906 non-null  object
 5   description                                   17854 non-null  object
 6   neighborhood_overview                         10997 non-null  object
 7   picture_url                                   18908 non-null  object
 8   host_id                                       18909 non-null  int64
 9   host_url                                      18909 non-null  object
 10  host_name                                     18883 non-null  object
 11  host_since                                    18883 non-null  object
 12  host_location                                 18841 non-null  object
 13  host_about                                    9427 non-null   object
 14  host_response_time                            11972 non-null  object
 15  host_response_rate                            11972 non-null  object
 16  host_acceptance_rate                          11531 non-null  object
 17  host_is_superhost                             18883 non-null  object
 18  host_thumbnail_url                            18883 non-null  object
 19  host_picture_url                              18883 non-null  object
 20  host_neighbourhood                            12034 non-null  object
 21  host_listings_count                           18883 non-null  float64
 22  host_total_listings_count                     18883 non-null  float64
 23  host_verifications                            18909 non-null  object
 24  host_has_profile_pic                          18883 non-null  object
 25  host_identity_verified                        18883 non-null  object
 26  neighbourhood                                 10997 non-null  object
 27  neighbourhood_cleansed                        18909 non-null  object
 28  neighbourhood_group_cleansed                  18909 non-null  object
 29  latitude                                      18909 non-null  float64
 30  longitude                                     18909 non-null  float64
 31  property_type                                 18909 non-null  object
 32  room_type                                     18909 non-null  object
 33  accommodates                                  18909 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                18884 non-null  object
 36  bedrooms                                      17475 non-null  float64
 37  beds                                          18568 non-null  float64
 38  amenities                                     18909 non-null  object
 39  price                                         18909 non-null  object
 40  minimum_nights                                18909 non-null  int64
 41  maximum_nights                                18909 non-null  int64
 42  minimum_minimum_nights                        18908 non-null  float64
 43  maximum_minimum_nights                        18908 non-null  float64
 44  minimum_maximum_nights                        18908 non-null  float64
 45  maximum_maximum_nights                        18908 non-null  float64
 46  minimum_nights_avg_ntm                        18908 non-null  float64
 47  maximum_nights_avg_ntm                        18908 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              18909 non-null  object
 50  availability_30                               18909 non-null  int64
 51  availability_60                               18909 non-null  int64
 52  availability_90                               18909 non-null  int64
 53  availability_365                              18909 non-null  int64
 54  calendar_last_scraped                         18909 non-null  object
 55  number_of_reviews                             18909 non-null  int64
 56  number_of_reviews_ltm                         18909 non-null  int64
 57  number_of_reviews_l30d                        18909 non-null  int64
 58  first_review                                  13877 non-null  object
 59  last_review                                   13877 non-null  object
 60  review_scores_rating                          13877 non-null  float64
 61  review_scores_accuracy                        13638 non-null  float64
 62  review_scores_cleanliness                     13640 non-null  float64
 63  review_scores_checkin                         13640 non-null  float64
 64  review_scores_communication                   13640 non-null  float64
 65  review_scores_location                        13637 non-null  float64
 66  review_scores_value                           13636 non-null  float64
 67  license                                       2828 non-null   object
 68  instant_bookable                              18909 non-null  object
 69  calculated_host_listings_count                18909 non-null  int64
 70  calculated_host_listings_count_entire_homes   18909 non-null  int64
 71  calculated_host_listings_count_private_rooms  18909 non-null  int64
 72  calculated_host_listings_count_shared_rooms   18909 non-null  int64
 73  reviews_per_month                             13877 non-null  float64
dtypes: float64(22), int64(17), object(35)
memory usage: 10.7+ MB

#### Insights
**Mismo nº de Registros entre listings y listings_detailed -> en detalle tiene más variables**
**Variable "bathrooms" tiene 0/18909 valores válidos -> no lo vamos a usar**
**Variable "calendar_updated" tiene 0/18909 valores válidos -> no lo vamos a usar**

## Primer vistazo a los datos "reviews"

### Datos base

In [10]:
reviews = pd.read_csv('./Data/reviews.csv')
reviews

        listing_id        date
0             6369  2010-03-14
1             6369  2010-03-23
2             6369  2010-04-10
3             6369  2010-04-21
4             6369  2010-04-26
...            ...         ...
618435    51973214  2021-09-08
618436    51980116  2021-09-10
618437    52008642  2021-09-07
618438    52052285  2021-09-10
618439    52108468  2021-09-09

[618440 rows x 2 columns]

In [11]:
reviews.head()

   listing_id        date
0        6369  2010-03-14
1        6369  2010-03-23
2        6369  2010-04-10
3        6369  2010-04-21
4        6369  2010-04-26

In [12]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618440 entries, 0 to 618439
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  618440 non-null  int64
 1   date        618440 non-null  object
dtypes: int64(1), object(1)
memory usage: 9.4+ MB

#### Insights
**Parece que solo trae la fecha de la opinión sobre un alojamiento -> No muy útil a priori**

### Datos extendidos

In [13]:
reviews_detailed = pd.read_csv('./Data/reviews.csv.gz')
reviews_detailed

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r<br/>It's a w...
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...
...,...,...,...,...,...,...
618435,51973214,446889303676978437,2021-09-08,84766723,Carlos,"The location of this apartment is unbeatable, ..."
618436,51980116,448262265778800520,2021-09-10,402075230,Whitney,"Daniela es un amor. Atenta, amable y buena con..."
618437,52008642,446104706506667601,2021-09-07,221711995,Laila,"El apartamento está bien ubicado, bonito y lim..."
618438,52052285,448277529746454343,2021-09-10,80169124,Ana,"Miguel es un hombre encantador, la habitación ..."
618439,52108468,447559235257304311,2021-09-09,32953673,María Jesús,Maria´s apartment is stylish and absolutely st...

In [14]:
reviews_detailed.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r<br/>It's a w...
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...

In [15]:
reviews_detailed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618440 entries, 0 to 618439
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     618440 non-null  int64
 1   id             618440 non-null  int64
 2   date           618440 non-null  object
 3   reviewer_id    618440 non-null  int64
 4   reviewer_name  618439 non-null  object
 5   comments       618054 non-null  object
dtypes: int64(3), object(3)
memory usage: 28.3+ MB

#### Insights
**Mismo nº de registros que el data base con más variables -> en caso necesario usar el extendido**